{% extends 'auth_base.html' %}
{% block title %}
<title>Chic Wears - Login</title>
{% endblock %}
{% block body %}
<div class="container">
        <h2>Welcome to Our Shop</h2>
        <h3>Login</h3>
        <form action="{% url 'customerlogin' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="return_url" value="{{ return_url }}">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>

            {% if form.errors %}  <div class="error-message">      {% for field, errors in form.errors.items %}          {% for error in errors %}              {{ error }}<br>          {% endfor %}      {% endfor %}  </div> {% endif %} </form>
        <div class="message">
            Don't have an account? <a href="{% url 'customerregistration' %}">Sign Up</a>
        </div>
    </div>
{% endblock %}